fastapi
uvicorn[standard]
websockets
wsproto
sqlalchemy
asyncpg
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]
email-validator
pydantic-settings
httpx
paho-mqtt
aiosmtplib
python-dotenv
authlib
itsdangerous
starlette
