.git
.github
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/venv
**/.venv
**/node_modules
frontend/dist
frontend/.vite
*.log
*.db
*.sqlite
*.sqlite3
backend/.env
backend/.env.docker
frontend/.env
